@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
@layer utilities{
  .button-hover-1{
      @apply rounded-md px-3 py-2 text-sm font-semibold text-base  hover:bg-gray-200 
  }
  .dot{
      @apply w-3 h-3 bg-gray-200 rounded-full cursor-pointer 
  
  }
  .yellow.active{
      @apply bg-yellow-600
    }
  .blue.active{
      @apply bg-blue-600
    }
  .green.active{
      @apply bg-green-700
    }
  .orange.active{
      @apply bg-orange-600
    }
  .yellow.choosen{
      @apply text-yellow-600
    }
  .blue.choosen{
      @apply text-blue-600
    }
  .green.choosen{
      @apply text-green-700
    }
  .orange.choosen{
      @apply text-orange-600
    }
  
}
.shadow-1{
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
.focus-1{
  transition: all 0.3s ease-in-out;
}

.focus-1:focus{
  transform: scale(0.95);
}

.bg-g{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.bg-a{
background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
       
.btn-grad {

margin: 10px;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
}

.btn-grad:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
       
.dark-btn {
background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);

}

.light-btn{
background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%);
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

/* .hidden-sec{
  background-color: white;
} */

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.bsd-1{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.slider-reveal img,
.slider-reveal h1{
transform: translateY(30px);
opacity: 0;
visibility: hidden;
display: none;
}

.slider-reveal h1{
display: none;
}

.slider-reveal.choosen img,
.slider-reveal.choosen h1{
animation: sliderReavel 5s ease forwards;
visibility: visible;
display: block;
}

.slider-reveal.choosen h1{
display: block;
}

.move{
transform: translateX(0);
transition: all 0.5s ease-in-out;
}
.reverse{
transform: translateX(110%);
transition: all 0.5s ease-in-out;

}
.moveMenu{
transform: translateX(0);
transition: all 0.5s ease-in-out;
}
.reverseMenu{
transform: translateX(-110%);
transition: all 0.5s ease-in-out;

}
@keyframes sliderReavel {
0%{
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}
10%,90%{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
100%{
  transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
}

}

.pointdown{
animation: pointDown 4s ease infinite;

}

@keyframes pointDown{
0%{
  transform: translateY(0);
}
50%{
  transform: translateY(10px);
}
100%{
  transform: translateY(0);
}
}

@media screen and (max-width: 1280px){
.fourth-section{
  display: flex;
  
  justify-content: center;
}
.fourth-image{
  left:-50px;
}
}
@media screen and (max-width: 890px){
.main-fourth{
  margin-block: auto;
  transform: scale(1.05);
}

}
@media screen and (max-width: 850px){
.up-section{
  padding-block: 20px;
}
.top-sec{
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.75rem;
}
.bottom-sec{
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.75rem;
}
.post-sec{
  flex-direction: column;
}
.post-img{
  border-radius: 1.5rem;
}
.img-container{
  margin-block-start: 8px;
  margin-inline: auto;
  max-width: 70vw;
}
.post-container{
  max-height: fit-content;
  max-width: 80vw;
  width: 100%;
}
.post-details{
  width: 100%;
}
}
@media screen and (max-width:830px) {
  .second-section,
  .fourth-sec,
  .last-section{
    flex-direction: column;
    
  }
  .second-section,
  .fourth-sec{
    padding: 20px;
  }
}
@media screen and (max-width:560px) {
  .grid-third{
    columns: 2;
  }
  .hid{
    display: none;
  }
}